{extend name='base'/}
{block name='styles'}
<style>
    .layui-layer-btn .layui-layer-btn0 {
        border-color:#dedede !important;
        background-color: #f1f1f1 !important;
        color: #222 !important;
    }
    .layui-layer-btn .layui-layer-btn1 {
        border-color:#4898d5 !important;
        background-color: #4898d5 !important;
        color: #fff !important;
    }
</style>
{/block}
{block name='content'}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">站点管理</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>编号</th>
                <th>配置名称</th>
                <th>配置值</th>
                <th>描述</th>

            </tr>
            </thead>
            <tbody>
            {foreach name='field' item='vo'}
                <tr>
                    <td>{$vo['webset_id']}</td>
                    <td>{$vo['webset_name']}</td>
                    <td><input type="text" class="form-control" value="{$vo['webset_value']}" onblur="change(this,{$vo['webset_id']})"></td>
                    <td>{$vo['webset_desc']}</td>
                </tr>
            {/foreach}
            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
<script>
    function change(obj,webset_id) {
        var webset_value = $(obj).val();
        $.post("{:url('edit')}",{webset_id:webset_id,webset_value:webset_value},function () {

        },'json')
    }
</script>
{/block}