{extend name='base'/}


{block name='content'}
<div id="primary" class="content-area mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <main id="main" class="site-main" role="main">

        {foreach name='articleData' item='vo'}

        <article id="post-1824" class="post-box mdl-card mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--12-col post-1824 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-template-2" style="min-height: 204px;max-height: 245px;">
            {if condition="$vo['is_hot']"}
            <div class="featured"><i class="icon icon-star"></i></div>
            {/if}
            <div class="post-img mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                <a href="{:url('index/content/index',['arc_id'=>$vo['arc_id']])}" title="{$vo['arc_title']}">
                    <img width="218" height="181" src="{$vo['arc_thumb']}" class="attachment-featured wp-post-image" alt="{$vo['arc_title']}" style="width: 218px;height: 181px;">
                    <div class="post-format"><i class="material-icons">description</i></div>
                </a>
                <div class="floated-cat"><a href="#" title="View all posts in World" style="background-color:rgb(63,81,181);position: absolute; top: 0; left: 0; padding: 5px 8px; color: #fff5d4;">{$vo['cate_name']}</a></div>

            </div>
            <div class="post-data  mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">

                <h2 class="entry-title post-title mdl-card__title-text"><a href="{:url('index/content/index',['arc_id'=>$vo['arc_id']])}" rel="bookmark">{$vo['arc_title']}</a></h2>
                <div class="entry-meta post-info">
                    <span class="theauthor"><i class="icon icon-user"></i><span class="author vcard"><span class="url fn"><a href="#">{$vo['arc_author']}</a></span></span></span><span class="posted">{:date('Y年m月d日',$vo['sendtime'])}</span><span class="views"><i class="fa fa-eye"></i>{$vo['arc_click']} views</span>		</div><!-- .entry-meta -->
                <div class="entry-content post-excerpt" style="overflow: hidden;max-height: 67px;">
								<span class="mdl-typography--font-light mdl-typography--subhead">
					{$vo['arc_digest']}&nbsp;&hellip;				</span>
                </div><!-- .entry-content -->
                <div class="moretag">
                    <a class="mdl-button mdl-js-button" href="{:url('index/content/index',['arc_id'=>$vo['arc_id']])}">阅读文章...</a>
                </div>
            </div><!-- .post-data -->
        </article><!-- #post-## -->

        {/foreach}

        <!--<nav class="navigation pagination" role="navigation">
            <h2 class="screen-reader-text">Posts navigation</h2>
            <div class="nav-links"><span class='page-numbers current'>1</span>
                <a class='page-numbers' href='http://demo.themient.com/realistic/page/2/'>2</a>
                <a class='page-numbers' href='http://demo.themient.com/realistic/page/3/'>3</a>
                <a class="next page-numbers" href="http://demo.themient.com/realistic/page/2/">Next &#8250;</a></div>
        </nav>-->


    </main><!-- #main -->

</div><!-- #primary -->
<div id="secondary"
     class="widget-area mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone"
     role="complementary">
    <style>
        .tagcloud a {
            font-size: 15px !important;
            padding: 7px 13px;
            margin-bottom: 7px;
            float: left;
            border-radius: 0;
            border: 1px solid #444;
            margin-right: 7px;
            color: #444;
            -webkit-transition: all 0.25s linear;
            -moz-transition: all 0.25s linear;
            transition: all 0.25s linear;
        }
    </style>
    <aside id="social-icons-2"
           class="widget sidebar-widget mdl-card mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--12-col realistic_social_icons_widget">
        <div class="widget-title">
            <h3>分类列表</h3>
            <div class="thin-bar" style="border-color: rgb(63, 81, 181);">

            </div>
        </div>
        <div class="tagcloud">
            {foreach name='_allCateData' item='vo'}
            <a href="{:url('index/lists/index',['cate_id'=>$vo['cate_id']])}"
               class="tag-link-197 tag-link-position-2"
               title="{$vo['cate_name']}" style="font-size: 8pt;">{$vo['cate_name']}</a>
            {/foreach}
        </div>
    </aside>
    <aside id="tag_cloud-3"
           class="widget sidebar-widget mdl-card mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--12-col widget_realistic_recent_posts_widget">
        <h3 class="widget-title">标签列表</h3>
        <div class="tagcloud">
            {foreach name='_allTagData' item='vo'}
            <a href="{:url('index/lists/index',['tag_id'=>$vo['tag_id']])}"
               class="tag-link-197 tag-link-position-2"
               title="{$vo['tag_name']}" style="font-size: 8pt;">{$vo['tag_name']}</a>
            {/foreach}
        </div>
    </aside>
    <aside id="realistic_recent_posts_widget-3"
           class="widget sidebar-widget mdl-card mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--12-col widget_realistic_recent_posts_widget">
        <div class="widget-title"><h3>最新文章</h3>
            <div class="thin-bar" style="border-color: rgb(63, 81, 181);"></div>
        </div>
        <div class="widget-container recent-posts-wrap" style="
    width: 100%;">
            <ul style="width: 100%">
                {foreach name='_newArticle' item='vo'}
                <li class="post-box horizontal-container">
                    <div class="widget-post-img">
                        <a rel="nofollow" href="{:url('index/content/index',['arc_id'=>$vo['arc_id']])}" title="{$vo['arc_title']}">
                            <img width="70" height="70" src="{$vo['arc_thumb']}"
                                 style="width: 70px;height: 70px;" class="attachment-featured wp-post-image"
                                 alt="Featured Post (Sticky Post)">
                            <div class="post-format"><i class="material-icons">description</i></div>
                        </a>
                    </div>

                    <div class="widget-post-data">
                        <h4 style="overflow: hidden;height: 40px; width: 100%;"><a rel="nofollow" href="{:url('index/content/index',['arc_id'=>$vo['arc_id']])}"
                                                                                   title="{$vo['arc_title']}">{$vo['arc_title']}</a>
                        </h4>
                        <div class="widget-post-info">
                            <span class="posted">{:date('Y-m-d',$vo['sendtime'])}</span> <span class="comments">{$vo['arc_click']} views</span>
                        </div><!--end .widget-post-info-->
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
    </aside>
    <aside id="realistic_popular_posts_widget-3"
           class="widget sidebar-widget mdl-card mdl-shadow--2dp mdl-grid mdl-cell mdl-cell--12-col widget_realistic_popular_posts_widget">
        <div class="widget-title">
            <h3>友情链接</h3>
            <div class="thin-bar">

            </div>
        </div>
        <div class="widget-container recent-posts-wrap">
            <ul>
                {foreach name='_allLinkData' item='vo'}
                <li class="post-box horizontal-container">
                    <div class="widget-post-data" style="width: 100%;">
                        <h4>
                            <a rel="nofollow" href="{$vo['link_url']}" title="{$vo['link_url']}"
                               style="display: block;">{$vo['link_url']}</a>
                            <span>{$vo['link_name']}</span>
                        </h4>
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
    </aside>
</div><!-- #secondary -->

{/block}
