{extend name='base'/}
{block name='content'}
<div class="box box-primary">
    <div class="box-header with-border">
        {if condition="input('param.tag_id')"}

        <h3 class="box-title">编辑标签</h3>
        {else/}
        <h3 class="box-title">添加标签</h3>
        {/if}

    </div>
    <form role="form" action="" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>添加标签</label>
                <input type="text" class="form-control" name="tag_name" value="{$oldData['tag_name']}" placeholder="栏目名称">
            </div>
        </div>
        <!-- /.box-body -->
        <input type="hidden" name="tag_id" value="{:input('param.tag_id')}">
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{/block}